.page-header {
    padding: 20px 0;
    text-align: center;
    transition: all 1s ease;

    .nick-photo {
        width: 150px;
        height: 150px;
        display: inline;
    }

    .social {
        width: 25px;
        margin: 10px;
    }

    a {
        border: 0;
    }

    h1, p {
        margin: -10px 0 0;
    }

    span {
        color: #6f665c;
        font-family: 'Archivo Black', sans-serif;
        text-transform: uppercase;
        font-size: 16px;
        letter-spacing: 1.5px;
        display: none;
    }

    @media only screen and (min-width: 520px) {
        span {
            display: block;
        }
    }

    @media only screen and (min-height: 500px) {
        &.collapsed {
            position: fixed;
            top: 0;
            padding: 10px 0;
            background-color: rgba(255, 255, 255, 0.9);
            width: 100%;
            border-bottom: 1px solid #ccc;
            text-align: left;

            .wrapper {
                display: flex;
                flex-wrap: wrap;
                align-items: center;
                position: relative;
            }

            .nick-photo {
                width: 60px;
                height: 60px;
            }

            .social-links {
                position: absolute;
                right: 0;
                top: 5px;
            }

            h1 {
                font-size: 20px;
                margin: 0 10px;
            }

            p {
                margin: 5px 10px 0 0;
            }

        }
    }

} 

.primary-work {
    min-width: 0;
    padding: 20px;
    background: url('../img/bg-church.png');
    background-size: cover;
    background-attachment: fixed;
    text-align: center;

    img {
        width: 40%;
    }

    h3 {
        font-size: 30px;
        text-transform: uppercase;
        letter-spacing: 2px;
    }
}

.secondary-work {
    min-width: 0;
    min-height: 100%;
    position: relative;
    text-align: center;
}

.chimay {
    background: url('../img/bg-chimay.png');
    background-size: cover;
    background-attachment: fixed;
    padding: 20px;
}

.schneider {
    background: url('../img/schneider-bg.png');
    background-size: cover;
    background-attachment: fixed;
    padding: 20px;
}

@media only screen and (min-width: 780px) {

    .secondary-work {
        display: flex;
        flex-wrap: wrap;
        align-items: stretch;
    }

    .chimay {
        flex: 0 0 50%;
    }

    .schneider {
       flex: 0 0 50%;
    }

}

@media only screen and (min-width: 1000px) {

    .flex-container-home {
        display: flex;
        flex-wrap: wrap;
        align-items: stretch;
    }

    .secondary-work {
        flex: 0 0 35%;
    }

    .primary-work {
        flex: 0 0 65%;
    }

    .chimay {
        position: absolute;
        height: 50%;
        width: 100%;
    }

    .schneider {
        position: absolute;
        height: 50%;
        width: 100%;
        bottom: 0;
    }

}




