/*------------------------------------*\
    $Imports
\*------------------------------------*/
html {
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

body {
  margin: 0; }
  body.bumped {
    margin-top: 230px; }

img {
  max-width: 100%; }

a {
  color: #000000;
  text-decoration: none;
  border-bottom: 1px dashed #6f665c; }
  a:hover {
    border-bottom: 1px solid #6f665c;
    color: #474089; }

body {
  color: #3d3832; }

h1, h2, h3, h4, h5, h6 {
  font-family: 'Archivo Black', sans-serif; }

h1 {
  font-size: 35px;
  text-align: center; }

h2 {
  font-size: 40px;
  text-align: center; }

@media only screen and (min-width: 650px) {
  h1 {
    font-size: 60px; }

  h2 {
    margin-top: 80px; } }
p {
  font-family: 'Merriweather', serif;
  line-height: 1.5;
  font-size: 15px;
  margin: 7px 0; }
  p.caption {
    font-style: italic;
    font-size: 13px; }

@media only screen and (min-width: 650px) {
  p {
    font-size: 18px;
    margin: 15px 0; } }
.start {
  font-family: 'Archivo Black', sans-serif;
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: 1px; }

.page-header {
  padding: 20px 0;
  text-align: center;
  transition: all 1s ease; }
  .page-header img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    display: inline; }
  .page-header h1, .page-header p {
    margin: 0; }
  .page-header span {
    font-style: italic;
    color: #6f665c;
    font-size: 18px; }
  @media only screen and (min-height: 500px) {
    .page-header.collapsed {
      position: fixed;
      top: 0;
      padding: 10px 0;
      background-color: rgba(255, 255, 255, 0.9);
      width: 100%;
      border-bottom: 1px solid #ccc;
      text-align: left; }
      .page-header.collapsed .wrapper {
        display: flex;
        flex-wrap: wrap;
        align-items: center; }
      .page-header.collapsed img {
        width: 60px;
        height: 60px; }
      .page-header.collapsed h1 {
        font-size: 20px;
        margin: 0 10px; } }

.primary-work {
  flex: 0 0 65%;
  min-width: 0;
  padding: 20px;
  background: url("http://www.spencerbrewery.com/img/bg-church-outline.png");
  background-attachment: fixed; }
  .primary-work img {
    width: 40%;
    float: left; }

.secondary-work {
  flex: 0 0 35%;
  min-width: 0;
  background: red;
  height: 2000px; }

.wrapper {
  width: 90%;
  margin: 0 auto;
  max-width: 1400px; }
  .wrapper.mid-wrapper {
    max-width: 900px; }
  .wrapper.sm-wrapper {
    max-width: 650px; }

.flex-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center; }

@media only screen and (max-width: 480px) {
  .flex-container-mobile {
    display: flex;
    flex-wrap: wrap;
    align-items: center; } }
@media only screen and (min-width: 650px) {
  .flex-container-small {
    display: flex;
    flex-wrap: wrap;
    align-items: center; } }
.spencer-intro {
  background: url("../img/bg-church.png");
  padding: 70px 0 50px;
  background-attachment: fixed;
  background-size: cover;
  margin-bottom: 50px; }
  .spencer-intro p {
    font-size: 20px; }

.flex-item-bottle {
  flex: 0 0 35%;
  min-width: 0; }
  .flex-item-bottle img {
    display: block;
    width: 200px;
    margin: 0 auto; }

@media only screen and (min-width: 650px) {
  .flex-item-bottle img {
    width: 100%; } }
.flex-item-intro img {
  width: 30px; }

@media only screen and (min-width: 650px) {
  .flex-item-intro {
    flex: 0 0 55%;
    min-width: 0;
    margin-left: 10%; } }
.img-row {
  overflow: none;
  margin-bottom: 20px; }
  .img-row img {
    float: left;
    width: 33.33333333%;
    border: 1px solid #ccc;
    margin-bottom: 5px; }

/*# sourceMappingURL=style.css.map */
